/OAuth2.Example/bin
/OAuth2.Example/obj/Debug
/OAuth2.Lib/bin/Debug
/OAuth2.Lib/obj/Debug
/OAuth2.Services/bin/Debug
/OAuth2.Services/obj/Debug
/packages
/.vs/OAuth2
/OAuth2.Example/obj/Release
/OAuth2.Lib/bin
/OAuth2.Lib/obj/Release
/OAuth2.Services/bin
/OAuth2.Services/obj/Release
/OAuth2.Example/oAuth2Settings.config
/OAuth2.Lib/OfficeClip.OpenSource.OAuth2.Lib.1.1.0.nupkg
/OAuth2.Services/OfficeClip.OpenSource.OAuth2.Services.1.1.0.nupkg
/OAuth2.Lib/*.user
/OAuth2.Lib/*.nupkg
/OAuth2.Example/*.user
/OAuth2.Google/obj/Debug
/OAuth2.Google/bin/Debug
/OAuth2.Google
/OAuth2.CSharp/bin/Debug
/OAuth2.CSharp/obj/Debug
/OAuth2.Example/dynamic.config
/OAuth2DriverTest/bin/Debug
/OAuth2DriverTest/obj/Debug
