<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.56.0" targetFramework="net451" />
  <package id="Google.Apis.Auth" version="1.56.0" targetFramework="net451" />
  <package id="Google.Apis.Core" version="1.56.0" targetFramework="net451" />
  <package id="Google.Apis.PeopleService.v1" version="1.56.0.2590" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net451" />
  <package id="NLog" version="4.7.13" targetFramework="net451" />
</packages>