<?xml version="1.0"?>
<oAuth2Settings>
  <provider>
	<!--<add
        name="Google"
        clientId="1030894631089-e5copm1j8tpcdrn63q8pjj7hl0cqpuba.apps.googleusercontent.com"
        clientSecret="EpqgQf0Xr9e7MouB1AUvaKLs"
        redirectUri="http://localhost:50256/auth.aspx"
        scope="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://mail.google.com/" />-->
	<add
	    name="Google"
	    clientId="327208495964-ossib9jhb0vb8maie38bj8r6tadqsp8s.apps.googleusercontent.com"
	    clientSecret="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"
	    redirectUri="http://localhost:50256/auth.aspx"
	    scope="https://www.googleapis.com/auth/contacts.readonly https://www.googleapis.com/auth/contacts" />
	  
	<add
		name="WindowsLive"
		clientId="XXXX"
		clientSecret="XXX"
		redirectUri="XXX"
		scope="wl.basic wl.emails" />
	<add
		name="Slack"
		clientId="19942603429.1188492794562"
		clientSecret="e131e464e8cdc956aacf3db245ce3736"
		redirectUri="https://7654343ae98f.ngrok.io/authorize/Slack/Auth.aspx"
		scope="incoming-webhook" />
  </provider>
</oAuth2Settings>