<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="oAuth2Settings" type="OfficeClip.OpenSource.OAuth2.Lib.Configuration.Section, OfficeClip.OpenSource.OAuth2.Lib" />
  </configSections> 
  <!--  Moving OAuth configuration to separate file that'll stay out of Git repo
  If you've cloned the repo just create oAuth2Settings.config file, populate with following and enter your values.   
  <oAuth2Settings>
    <provider> 
      <add
          name="Google"
          clientId="XXXX"
          clientSecret="XXX"
          redirectUri="XXX"
          scope="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://mail.google.com/" />
       <add
          name="WindowsLive"
          clientId="XXXX"
          clientSecret="XXX"
          redirectUri="XXX"
          scope="wl.basic wl.emails" />
      <add
          name="Slack"
          clientId="XXXX"
          clientSecret="XXXX"
          redirectUri="XXXX"
          scope="channels:read,chat:write,chat:write.public" />
   </provider>
  </oAuth2Settings>-->
  <oAuth2Settings configSource="oAuth2Settings.config" />
  
  <!-- Create a file called dynamic.config in this folder and add your constants.
       This way you are not sharing it with the world... 
       Sample File:
       
       <appSettings>		  
          <add key="Test1" value="people/xxx" />
	        <add key="Test2" value="" />
      </appSettings>
      
      To access it use: ConfigurationManager.AppSettings["Test1"]
  -->
  <appSettings file="dynamic.config" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>